<div class="jumbotron">
  <h1>Infinity Sort</h1>
  <p class="lead">
    Welcome to Infinity Sort! This app is a platform to do affinity diagramming. With infinity sort, affinity diagramming is no longer restricted by physical whitebords and you can share and collaborate in a super convenient way. Your diagrams will be stored in a folder names "infinity-sort" in your Dropbox. You can share your diagrams with your colleagues by sharing the folder.
  </p>
  <p>
    In order for this app to work, Please <strong>enable pop-ups</strong> on
    this site. This is just so Dropbox can connect properly.
  </p>
  <p>
    Press the big green button to get started!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/explorer">Start</a></p>
</div>
